# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# frontend code
node_modules/
dist/
.env

# config port mismatches
vite.config.react.js
./src/frontend/react/use-auth-client.jsx

src/declarations
